.App {
  text-align: center;
  background-color: #e6e6e6;
  max-height: 100%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 5vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.post {
  margin: 1em auto 1em auto;
  width: 32vw;
  background-color: white;
  padding-bottom: 1em;
}
.user-name {
  color: darkblue;
  width: 30vw;
  padding-top: 2vh;
  margin: 0 auto;
  text-align: left;
}

.caption {
  margin: 0 auto;
  width: 30vw;
  padding: 2vh 0 2vh 0;
  text-align: left;
}

.comments-count {
  width: 30vw;
  padding-top: 2vh;
  margin: 0 auto;
  text-align: left;
}

.comments-count button {
  background:none!important;
  color:inherit;
  border:none; 
  padding:0!important;
  font: inherit;
  cursor: pointer;
}

.post-image {
  max-width: 100%;
  height: auto;
}

.commentAuthor {
  font-weight: bold
}